html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.navbar {
	background-image: url(../images/bannertop.png);
	background-size:auto;
	background-position:center;
	background-repeat:no-repeat;
	height:22.5vh;
	width:100vw;
	position: absolute;
	margin: 0;
	margin-top:-2%;
	z-index:990;

}

.navwhite {
	background-image: url(../images/title.png);
	position:absolute;
	z-index:998;
	width:48vw;
	height:100%;
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-left:17%;
	margin-top:0;
	text-align:center;
	display:flex;
	flex-flow: row wrap;
	align-content:center;
	justify-content:center;
	align-items:center;

}

h1 {
	font-family:"TravelingTypewriter";
	font-size:3vw;
	line-height:100%;
	margin:0;
	padding:0;
	flex: 1 1 auto;
}

#lily {
	position:absolute;
	z-index:999;
	left:-14%;
	bottom:-35%;
	align-self:flex-start;
}

.centerdiv {
	background-image: url(../images/centerthing.png);
	width:100%;
	height:100%;
	background-size:100% 100%;
	background-repeat:no-repeat;
	position:relative;
}

.qdiv {
	height:56vh;
	display:flex;
	align-items:flex-end;
	align-content:flex-end;
	flex-flow: row nowrap;
	justify-content:center;
}

.qdiv, .adiv {
	position:relative;
	left:21%;
	width:42vw;
	text-align:center;
}

.adiv {
	height:40vh;
	display:flex;
	align-items:center;
	align-content:center;
	justify-content:center;
	flex-flow: row nowrap;
}

.content {
	background-image: url(../images/bg.png);
	background-size: 100% 100%;
	height:100vh;
	font-family:"Lusitana", serif;
	font-weight:400;
	line-height:150%;
	box-shadow: 5px 5px black;
}

body {
	background-color: #9fe8b7;
	margin:0;
	padding:0;
	height:100%;
}

.answers {
	position:relative;
	width:85%;
	height:100%;
	display:none;
	flex: 1 1 auto;
	display:flex;
	flex-flow: row wrap;
	align-items:center;
	align-content:center;
	justify-content:center;
}

.answerbox, .toInfo, .tryAgain {
	border: solid 2px #e13261;
	border-radius:30px;
	background:none;
	position:relative;
	margin-bottom:2%;
	margin-right:2%;
	display:inline-block;
	z-index:10;
	height:35%;
	flex: 1 1 auto;
	min-width:45%;
	max-width:45%;
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	align-content:center;
	justify-content:center;
	font-size:1.5vw;
}


.yesbutton {
	position:relative;
	z-index:999;
	display:flex;
	flex: 1 1 main-size;
	font-size:6vw;
	text-align:center;
	align-items:center;
	align-content:center;
	justify-content:center;
	background:none;
	height:70%;
	width:70%;
	border: solid 2px #e13261;
	color: #e13261;
	border-radius:30px;
	flex: 1 1 main-size;
	flex-flow: row nowrap;

}

.yesbutton p {
	flex: 1 1 auto;
	position:relative;
	height:auto;
	margin:0;
}


.beginQuestion {
	position:relative;
	text-align:center;
	font-size:4vh;
	width:100%;
	margin:0;
	height:30%;
	margin-bottom:10%;	
	flex: 1 1 auto;
	display:flex;
	justify-content:center;
	align-content:center;
	align-items:center;
	flex-flow: row wrap;
	z-index:10;
	bottom:0;
	line-height:150%;
}

.status, .outOfTen, .percentCorrect {
	text-align:center;
	font-size:3vw;
}

.status {
	position:relative;
	top:-75vh;
	right:5%;
	width:30%;
	height:33%;
	float:right;
	display:flex;
	flex-flow: row wrap;
}

.percentCorrect {
	position:relative;
	width:100%;
	height:35%;
	padding-left:5%;
	flex: 3 3 auto;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	align-content:center;
	justify-content:space-between;
}

.percent {
	padding-right:4%;
	padding-top:3%;
	margin:0;
	float: right;
	font-size:4vh;
	position:relative;
	flex: 1 1 auto;
	min-width:25%;
}

.outOfTen {
	position:relative;
	width:37%;
	height:65%;
	float:left;
	flex: 1 1 auto;
	display:flex;
	justify-content:center;
	align-items:center;
}

.fraction {
	margin:0;
	flex: 1 1 auto;
}


.explanationBlock {
	position:relative;
	height:65%;
	width:63%;
	float:right;
	display:flex;
	font-size:2vw;
	flex: 2 2 auto;
	align-content:center;
	justify-content:center;
	align-items:center;
}

.statusBar {
	border: solid 2px #e13261;
	background-color:#43352a;
	position:relative;
	width:80%;
	height:70%;
	float:left;
	flex:3 3 auto;
	border-radius:20px;
	z-index:15;
}

.bar {
	height:100%;
	width:0%;
	background-color: green;
	border-radius:15px;
	z-index:14;
}

#outOfTenText {
	margin-top:0;
}


@media (orientation:landscape) and (min-width: 1500px) {

body {
	background-image: url(../images/larger/bg.png);
}

.navbar {
	background-image: url(../images/larger/navbar.png);
	height:17.2%;
	background-size:auto;
	margin:0;
}

.centerdiv {
	background-image: url(../images/larger/centerthing.png);
	height:75%;
}

.navwhite {
	position:absolute;
	background-image: url(../images/larger/title.png);
	height:100%;
	background-size:100% 100%;
	left:6%;
	width:34%;
}

.navwhite h1 {
	position:relative;
	padding:0;
	margin:0;
}

.content {
	background-image: url(../images/larger/pinkandbrownbg.png);
}

.status {
	right:23%;
	width:21%;
	top:-55vh;
	font-size:3vh;
}

.statusBar {
	right:2%;
	width:75%;
	height:60%;
}


.beginQuestion {
	position:relative;
	font-size:2vw;
	width:100%;
	margin:0;
	height:30%;
	margin-bottom:10%;	
	flex: 1 1 auto;
	display:flex;
}

.qdiv, .adiv {
	width:29%;
	left:25.5%;
	text-align:center;
}

.qdiv {
	height:57%;
	display:flex;
	align-items:flex-end;
	align-content:flex-end;
	flex-flow: row nowrap;
}

.adiv {
	height:40%;
	align-items:center;
	align-content:center;
	justify-content:center;
	display:flex;
	flex-flow:row nowrap;
	position:relative;
}

.yesbutton {
	position:relative;
	background:none;
	height:70%;
	width:70%;
	border: double 2px #e13261;
	color: #e13261;
	border-radius:30px;
	flex: 1 1 main-size;
	display:flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content:center;
	font-size:4vw;
}



.explanationBlock {
	font-size:3vh;
	line-height:100%;
}

.fraction {
	font-size:4vh;
}

.answerbox, .toInfo, .tryAgain {
	font-size:1vw;
	height:35%;
}


}














